
 .label1{

    font-size: 16px;
    left: 200px;
}

 .input1{

width: 300px;
font-size: 14px;
margin-bottom: 10px;
position:center;

 }
 .container{
margin-left: 300px;
margin-bottom: 60px;

 }
h4{
margin-bottom: 10px;
  margin-left: 420px;
  color: blue;

}